@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap%27");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 20pt;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
}

:root {
  --White: white;
  --Gray: #333;
  --LightGreen: #72bd5d;
  --LightGreenAlt: #609c50;
  --Font: "Open Sans", sans-serif;
  --DarkGreen: #3f5946;
  --Tan: #f2f2ed;
}

/* general rules */
body {
  display: flex;
  background-color: var(--LightGreen);
  justify-content: center;
  justify-items: center;
}

h1 {
  color: var(--DarkGreen);
}

p,
a {
  font-size: 12pt;
}

/* tables */
table {
  margin: 5vmin;
  border-collapse: collapse;
}

table,
td {
  border-style: solid;
  border-color: rgba(222, 222, 222, 0.5);
}

table * {
  font-size: 8pt;
}

th {
  font-size: 10pt;
  padding: 2vmin;
  background-color: var(--LightGreen);
}

td {
  text-align: center;
  background-color: var(--White);
}

tr:nth-of-type(2n) td {
  background-color: var(--Tan);
}

/* class rules */

.main-container {
  background-color: var(--White);
  width: 80%;
  display: flex;
  flex-direction: column;
}

#index-container {
  display: flex;
  justify-content: center;
}
