@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap%27");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 20pt;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
}

:root {
  --White: white;
  --Gray: #333;
  --LightGreen: #72bd5d;
  --LightGreenAlt: #609c50;
  --Font: "Open Sans", sans-serif;
  --DarkGreen: #3f5946;
  --Tan: #f2f2ed;
  --TanAlt: #e5e5e5;
}

/* general rules */
body {
  display: flex;
  background-color: var(--TanAlt);
  justify-content: center;
  justify-items: center;
}

h1 {
  color: var(--DarkGreen);
}

p,
a {
  font-size: 2vmin;
}

p {
  font-weight: 100;
}

/* tables */
table {
  margin: 5vmin;
  border-collapse: collapse;
  width: 70%;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}

table,
td {
  border-style: none;
  border-color: rgba(222, 222, 222, 0.5);
}

table * {
  font-size: 2vmin;
  font-weight: 100;
}

th {
  font-size: 3vmin;
  color: var(--White);
  padding: 1vmin;
  background-color: var(--LightGreen);
}

td {
  text-align: center;
  background-color: var(--White);
}

tr:nth-of-type(2n) td {
  background-color: var(--Tan);
}

/* class rules */

.main-container {
  background-color: var(--White);
  width: 90%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head h1 {
  font-size: 5vmin;
  width: 100%;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Tan);
}

.head p {
  width: 80%;
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  font-size: 2vmin;
}

.rubrik {
  color: var(--DarkGreen);
  font-size: 5vmin;
  width: 100%;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Tan);
}

/* tjänst tabell */
#index-container,
.groups-container {
  display: flex;
  justify-content: center;
}

/* monitoringtjänst */
.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2vmin;
}

.status-container * {
  margin: 0;
  display: flex;
  justify-content: center;
}

.status-container h1 {
  font-size: medium;
}

.status-container a {
  margin-left: 1vmin;
  display: flex;
  justify-content: center;
}

/* service */
.service p,
h3,
a {
  justify-content: center;
  margin: 2vmin;
}
.service h3 {
  font-size: 3vmin;
  padding: 0%;
  margin: 0%;
}

.service > p {
  font-size: 2vmin;
  max-width: 60%;
}

.service a {
  font-size: 2vmin;
  padding: 0%;
  margin: 0%;
}

.link-section {
  padding-bottom: 2vmin;
  padding-top: 2vmin;
  display: flex;
  justify-content: space-around;
  background-color: var(--White);
  color: var(--DarkGreen);
}

.title-section {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--Tan);
}

.title-section h1 {
  font-size: 3vmin;
}

/* owners consumers */
.owner-consumers {
  display: flex;
  flex-direction: row;
}

.owner-consumers h2 {
  font-size: 2vmin;
}

.owner-consumers p {
  font-size: 2vmin;
}

.owner,
.consumer {
  position: relative;
  margin: 1vmin;
  padding: 1vmin;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2vmin;
}

.owner + span,
.consumer + span {
  position: absolute;
  bottom: 10vmin;
  visibility: hidden;
  background-color: rgba(51, 51, 51, 0.9);
  color: var(--White);
  border-radius: 1vmin;
  transition: all 0.3s;
  opacity: 0;
}

.owner:hover + span,
.consumer:hover + span {
  position: absolute;
  visibility: visible;
  opacity: 1;
}

.owner p,
.consumer p {
  margin: 0vmin;
  padding: 0vmin;
}

.owner {
  background-color: var(--LightGreen);
  color: var(--White);
}

.consumer {
  background-color: var(--DarkGreen);
  color: var(--White);
}

/* description */
